[submodule "VulkanMapper/dependencies/glfw"]
	path = VulkanMapper/dependencies/glfw
	url = https://github.com/glfw/glfw
[submodule "VulkanMapper/dependencies/imgui"]
	path = VulkanMapper/dependencies/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "VulkanMapper/dependencies/glm"]
	path = VulkanMapper/dependencies/glm
	url = https://github.com/g-truc/glm.git
[submodule "VulkanMapper/dependencies/volk"]
	path = VulkanMapper/dependencies/volk
	url = https://github.com/zeux/volk.git
